*,
*::before,
*::after {
  margin: 0;
  /* margin-top: 0; mert a text-eknek van default top margin */
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

a img {
  border: none;
}

img,
picture {
  max-width: 100%;
  display: inline-block;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  -moz-appearance: none !important;
       appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  height: 100%;
}

h1,
h2,
h3,
p {
  text-align: center;
  color: hsl(192deg, 100%, 9%);
}

h1,
h2,
h3 {
  margin: 1em 30px 1em;
}

p {
  margin: 1em 50px 3em;
  line-height: 1.75;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 700;
}

.btn {
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 25px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em 3em 7em;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
}
header .btn_try {
  width: 100px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(322deg, 100%, 66%);
  padding: 5px;
  border: 2px hsl(322deg, 100%, 66%) solid;
  opacity: 0.8;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
main .image_container {
  width: 80%;
  margin-top: 50px;
}

.data .container {
  margin-bottom: 4em;
}

.ready_to_build {
  position: relative;
  justify-content: center;
  margin: 10em 0;
}

.btn_get {
  width: 250px;
  padding: 10px;
  margin-bottom: 6em;
  font-size: 1em;
  font-weight: 700;
  background-color: hsl(322deg, 100%, 66%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0 3px 5px -2px gray;
}
.btn_get:hover {
  background-color: hsl(321deg, 100%, 78%);
}

.container {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.blue {
  position: relative;
  background-color: hsl(207deg, 100%, 98%);
  margin-bottom: 100px;
}

.img_top {
  transform: translateY(10px);
}

.img_bottom {
  position: absolute;
}

.container_top_wave {
  width: 100%;
  background-color: hsl(0deg, 0%, 100%);
}

.communities_data,
.messages_data {
  font-weight: 700;
  color: hsl(192deg, 100%, 9%);
  text-align: center;
}

.communities_data {
  font-size: 3.5em;
}
@supports (font-size: max(19cqi, 3.5em)) {
  .communities_data {
    font-size: max(19cqi, 3.5em);
  }
}

.messages_data {
  font-size: 3em;
}
@supports (font-size: max(15cqi, 3em)) {
  .messages_data {
    font-size: max(15cqi, 3em);
  }
}

.data {
  justify-content: center;
}
.data p {
  color: gray;
  margin: 0;
  font-size: 0.9em;
}
@supports (font-size: max(4cqi, 0.9em)) {
  .data p {
    font-size: max(4cqi, 0.9em);
  }
}

.end {
  background-color: hsl(192deg, 100%, 9%);
  margin: 0;
  padding: 0 2em;
}
.end .wave {
  transform: scaleX(1.2);
  background-color: white;
}
.end h3,
.end p {
  color: hsl(207deg, 100%, 98%);
  text-align: left;
  margin: 0;
}
.end h3 {
  text-transform: uppercase;
  margin-top: 2em;
}
.end p {
  margin-bottom: 2em;
}
.end input {
  background-color: hsl(207deg, 100%, 98%);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 1em;
}
.end .logo_img path {
  fill: hsl(0deg, 0%, 100%);
}
.end .end__subscribe {
  position: relative;
  margin-bottom: 7em;
}
.end .btn_subscribe {
  width: 50%;
  height: 40px;
  background-color: hsl(322deg, 100%, 66%);
  color: hsl(207deg, 100%, 98%);
  border-radius: 5px;
  position: absolute;
  bottom: -40px;
  right: 0;
}
.end .end__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5em;
}
.end .end__contact p {
  margin: 0;
}
.end .end__social {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=indes.css.map */